*
!.gitignore
!public/
!public/**/*.png
!public/**/*.json
!private/
!private/**/*.png
!private/**/*.json
!textures/
!textures/**/*.png
!textures/**/*.json
!geometry/
!geometry/**
!mob_geometry/
!mob_geometry/**
