*
!.gitignore
!public/
!public/**/*.png
!public/**/*.json
!private/
!private/**/*.png
!private/**/*.json
!textures/
!textures/**/*.png
!textures/**/*.json
!item_textures/
!item_textures/**/*.png
!geometry/
!geometry/**
!geometry/**/*.geojson
!mob_textures/
!mob_textures/**/*.png
!mob_geometry/
!mob_geometry/**
!mob_geometry/**/*.geojson
